#card {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 2rem;
 margin-bottom: 2rem;
}

.back {
    background-color: gainsboro;
}

.back::placeholder {
    color: black;
}

.link:hover {
    background-color: lightblue;
}

.num {
    text-decoration: none;
    color: lightslategray;
}

.imageDiv {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
}

.profileImage {
    width: 25%;
    height: 25%;
    border: 0.3rem solid blue;
    border-radius: 100%;
}

.details {
    text-align: center;
}